{% extends 'menu_bar.html' %}
{% block contents %}
{% load static %}
<link rel="stylesheet" href="{% static 'project/mydiary/css/home.css'%}">
<!--로그인 되어있는경우-->
    {% if user.is_active %}
    <br><br><div class="card text-white bg-dark mb-3" style="max-width: 40rem; float: none; margin: 0 auto;">
    <div class="form-group" align="center">
    <br><h3 align="center"><a style="color:#ff9f43;">{{user.username}}</a>님은 이미 로그인되어있습니다.</h3>
    <br>
    <a href="{% url 'logout' %}"><input class="btn btn-dark" type="submit" value="로그아웃하기"></a>
    <a href="{% url 'home' %}"><input class="btn btn-dark" type="submit" value="홈으로 돌아가기"></a>
    </div>
    </div>
{% else %}
{% if form.errors  %}
    <!-- 에러발생시-->
<p>ID나 PASSWORD가 일치하지 않습니다.</p>
{% endif %}
<br><br><br>
<body>
<div class="bgview" style="max-width: 30rem; float: none; margin: 0 auto;">
    <br><br><br><br><br>
    </div>
<form method="POST" action="{%url 'login'%}" align="center">
<div class="card text-white bg-dark mb-3" style="max-width: 25rem; float: none; margin: 0 auto;">
  <div class="form-group" align="center">
        {%csrf_token%}
        <br><label>ID:</label>
        <input type="text" style="width:300px" class="form-control" name="username">
        <small class="form-text text-muted">아이디를입력해주세요</small>
        </div>
         <div class="form-group" align="center">
         <label>PASSWORD:</label>
         <input type="password" style="width:300px" class="form-control" name="password">
        <small class="form-text text-muted">페스워드를입력해주세요</small>
        </div>
        <div class="form-group" align="center">
        <input class="btn btn-dark" type="submit" value="로그인">
        <input class="btn btn-dark" type="submit" value="비밀번호찾기">
        </div>
    </form>
        <a href="{% url 'signup' %}"><input class="btn btn-dark" type="submit" value="회원가입하기"></a><br>
    </div>
{% endif %}
{% endblock %}
</body>