.bglogin{
    background: url('../img/bg2.gif')no-repeat;
  }
.bgsignup{
    background: url('../img/bg3.gif')no-repeat;
  }
.bglogin2{
    background: url('../img/bg6.gif')no-repeat;
  }
.kakaologo{
    background: url('../img/kakao_login.png')no-repeat;
  }