/*---홈화면 --*/
.calendar{
    border: double black;
    border-radius: 5px;
  }
.main_calendar {
    border-collapse: collapse;
    width:100%;
  }
.calendar_prev{
    text-align: center;
    background-color: #A4A4A4;
    border-top-left-radius: 5px;
  }
.calendar_year_month{
    text-align: center;
    height: 150px;
    background-color:#A4A4A4;
    font-size: 40px;
  }
.calendar_next{
    text-align: center;
    background-color: #A4A4A4;
  }
.calendar_label{
    font-size: 40px;
  }
.calendar_cell{
    background-color: #B90000;
    width: 20%;
    margin: auto;
    border-radius: 30px;
    color: white;
  }
.calendar_cell2{
  color: black;
}

  .calendar_a_tag_example{
    font-size: 16px;
  }
  .main_calendar tr:nth-child(1){
    border-top: solid #A4A4A4;
    border-bottom-color: gray;
  }
  .main_calendar tr:nth-child(2){
    border-bottom-color: #E6E6E6;
    height: 60px;
    font-size: 22px;
  }
  .main_calendar tr:nth-child(3){
    background-color:#E6E6E6;
    border-bottom-color: #E6E6E6;
    border-right-color: #E6E6E6;
    text-align: center;
    font-size: 23px;
    height: 100px;
    vertical-align: top;
  }
  .main_calendar tr:nth-child(4){
    background-color: #E6E6E6;
    border-bottom-color: #E6E6E6;
    border-right-color: #E6E6E6;
    text-align: center;
    font-size: 23px;
    height: 100px;
    vertical-align: top;
  }
  .main_calendar tr:nth-child(5){
    background-color: #E6E6E6;
    border-bottom-color: #E6E6E6;
    border-right-color: #E6E6E6;
    text-align: center;
    font-size: 23px;
    height: 100px;
    vertical-align: top;
  }
  .main_calendar tr:nth-child(6){
    background-color: #E6E6E6;
    border-bottom-color: #E6E6E6;
    border-right-color: #E6E6E6;
    text-align: center;
    font-size: 23px;
    height: 100px;
    vertical-align: top;
  }
  .main_calendar tr:nth-child(7){
    background-color: #E6E6E6;
    border-right-color: #E6E6E6;
    border-bottom: solid #E6E6E6;
    text-align: center;
    font-size: 23px;
    height: 100px;
    vertical-align: top;
  }
  .main_calendar tr:nth-child(8){
    background-color: #E6E6E6;
    border-right-color: #E6E6E6;
    border-bottom: solid #E6E6E6;
    text-align: center;
    font-size: 23px;
    height: 100px;
    vertical-align: top;
  }

  /*------------ 글쓰기 ----------*/
  .main_wrap {
    padding-top: 75px;
    padding-left: 140px;
    padding-right: 140px;
  }
    .write_write, .write_mydiary, .write_pick, .write_exchange, .write_setup, .write_logout {
      float: left;
      margin-left: 5.12%;
      margin-top: 2.5%;
    }
    .date_input{
        font-size:30px;
      float: right;
      margin-top: 10px;
    }
    .emotion_input{
        font-size: 30px;
      margin-top: 10px;
    }
    .weather_input{
        font-size: 30px;
    }
    .write_diary_image_input{
        height: 400px;
        border: solid 2px black;
        border-style: dashed;
        margin-bottom: 10px;
        margin-top: 10px;
    
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .writediary_emotion_icon, .writediary_weather_icon{
      padding-right: 10px;
    }
    .emoticon_input:hover {
        background: rgba(34,50,84,0.03);
    }
    .diary_wrap{
        padding: 5% 25px;
        margin-bottom: 20px;
        width: 70%;
        background: white;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
        border: solid 2px;
    }
    .title_input{
        font-size: 25px;
    }
    .category_wrap{
        float: right;
    }
    
    button.replace {  
      position: absolute;
      width: 51%;
      height: 54%;
      border-radius: 3px;
      font-size: 60px;
      border:solid 2px white;
      cursor: pointer;
    }
    .inp {
      position: relative;
      margin: auto;
      width: 100%;
      max-width: 280px;
    }
    .inp .label {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 25px;
      color: #9098a9;
      font-weight: 500;
      transform-origin: 0 0;
      transition: all 0.2s ease;
    }
    .inp .border {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #07f;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.15s ease;
    }
    .inp input {
      -webkit-appearance: none;
      width: 100%;
      border: 0;
      font-family: 'Hanna', serif;
      padding: 12px 0;
      height: 10px;
      font-size: 25px;
      font-weight: 500;
      border-bottom: 2px solid #c8ccd4;
      background: none;
      border-radius: 0;
      color: #223254;
      transition: all 0.15s ease;
      margin-bottom: 5px;
    }
    .inp input:hover {
      background: rgba(34,50,84,0.03);
    }
    .inp input:not(:placeholder-shown) + span {
      color: #5a667f;
      transform: translateY(-26px) scale(0.75);
    }
    .inp input:focus {
      background: none;
      outline: none;
    }
    .inp input:focus + span {
      color: #07f;
      transform: translateY(-26px) scale(0.75);
    }
    .inp input:focus + span + .border {
      transform: scaleX(1);
    }
    #paper {
      color: #fff;
      font-size: 20px;
    }
    #text {
      width: 100%;
      overflow: hidden;
      background-color: #fff;
      color: #222;
      font-family: 'Nanum Pen Script', serif;
      font-weight: normal;
      font-size: 24px;
      line-height: 40px;
      padding-left: 100px;
      padding-right: 100px;
      margin-top:10px;
      background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
      url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
      background-repeat: repeat-y, repeat;
    }
    .diary_submit_button_wrap {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .diary_submit_button{
      font-family: 'Nanum Pen Script', serif;
      font-size: 20px;
      width: 100px;
      background-color: #AE5E1A;
      color: white;
      padding: 12px 0;
      cursor: pointer;
      outline:none;
      border: none;
    }
    
input[type=radio]{
  display:none;
  }
  .emotion_happy > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/happy.png') left/30px no-repeat; 
  }
  .emotion_happy > input:checked + label{
   background-image: url('../img/happy_color.png');
 }
 .emotion_love > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/love.png') left/30px no-repeat; 
  }
  .emotion_love > input:checked + label{
   background-image: url('../img/love_color.png');
 }
  .emotion_angry > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/angry.png') left/30px no-repeat; 
  }
  .emotion_angry > input:checked + label{
   background-image: url('../img/angry_color.png');
 }
  .emotion_crying > input + label{ 
      display: inline-block; 
      cursor: pointer; 
      line-height: 30px; 
      padding-left: 30px; 
      background: url('../img/crying.png') left/30px no-repeat; 
    }
  .emotion_crying > input:checked + label{
   background-image: url('../img/crying_color.png');
 }
 .emotion_serious > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/serious.png') left/30px no-repeat; 
  }
  .emotion_serious > input:checked + label{
   background-image: url('../img/serious_color.png');
 }
  .emotion_sleepy > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/sleepy.png') left/30px no-repeat; 
  }
  .emotion_sleepy > input:checked + label{
   background-image: url('../img/sleepy_color.png');
 }

 
  .weather_sunny > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/sunny.png') left/30px no-repeat; 
  }
  .weather_sunny > input:checked + label{
   background-image: url('../img/sunny_color.png');
 }

 .weather_umbrella > input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/umbrella.png') left/30px no-repeat; 
  }
  .weather_umbrella input:checked + label{
   background-image: url('../img/umbrella_color.png');
 }

  .weather_cloud input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/cloud.png') left/30px no-repeat; 
  }
  .weather_cloud input:checked + label{
   background-image: url('../img/cloud_color.png');
 }

 .weather_snow input + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/snow.png') left/30px no-repeat; 
  }
  .weather_snow input:checked + label{
   background-image: url('../img/snow_color.png');
 }