{% extends 'menu_bar.html' %}<!--위에 상단바-->
{% block contents %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
<!--- 비로그인 차단-->
{% if user.is_active %}
<!-- 글 post로 가져와서 detail로 넘겨주는 곳-->
<div class="main_wrap">
<div class="diary_wrap">
	<div class="content_input">
    <h5 align ="right">글쓴이 : {{post_detail.username}}</h5> 
    <span class="label">일기 제목:{{post_detail.title }}</span>
    <br>{{post_detail.pub_date}}
    <textarea placeholder="일기 내용" onkeyup="autoTextarea(this,2000)" id="text" name="text" rows="4" style="word-wrap: break-word; resize: none; height: 500px; ">{{post_detail.content }}</textarea>  
</div><br>
<a href="{% url 'view_diary' %}"><input class="btn btn-secondary" type="submit" value="돌아가기"></a>
</div>

<br><br>
<!--로그인 안되었을떄 일기장 못보게 하기-->
{% else %}<br>
<div class="bgwrite" style="max-width: 30rem; float: none; margin: 0 auto;">
    <br><br><br><br><br><br><br><br><br><br>
</div>
	<br><br><div class="card text-white bg-dark mb-3" style="max-width: 30rem; float: none; margin: 0 auto;">
    <div class="form-group" align="center">
    <br><h3 align="center">잘못된 접근입니다.<br> 로그인해주세요</h3>
    <br>
    <a href="{% url 'signup' %}"><input class="btn btn-dark" type="submit" value="회원가입"></a>
    <a href="{% url 'login' %}"><input class="btn btn-dark" type="submit" value="로그인"></a>
    <a href="{% url 'home' %}"><input class="btn btn-dark" type="submit" value="홈으로 돌아가기"></a>
	</div>
    </div>
{% endif %}
</body>

{% endblock %}